<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emmettito.tickettoride">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.LoginActivity.LoginActivity"
            android:label="LoginActivity"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".views.LobbyActivity.LobbyActivity"
            android:label="LobbyActivity"
            android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.GameRoomActivity.GameRoomActivity"
            android:label="GameRoomActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".views.GameActivity.GameActivity"
            android:label="GameActivity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>